*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
   
}
#portfolio{
    margin: auto;
    height: 100vh;
    background-image: url(images/nightbeachpic.jpg);
    background-size: cover;
   
}


h1 {
    margin: auto;
    width: 50%;
    padding-top: 35vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    font-size: 60px;
}
#navigate {
    margin-top: 32vh;
}
#navi {
    
    height: 3vh;
    
    text-align: center;
    margin: 0;
    padding-bottom: 5vh;
    margin-bottom: 6vh;
}
#home {
    position: fixed;
    margin: 0;
    margin-left: -6vw;
}
#bout {
    position: fixed;
    margin: 0;
    margin-left: 6vw;
    margin-right: 6vw;
}
#plan {
    position: fixed;
    margin: 0;
    margin-right: -6vw;
}



#aboutme {
    margin: 0;
    margin-bottom: -15vh;
    padding: 0;
    border: 0;
    outline: 0;
    height: 100vh;
    background-color: rgba(145, 144, 143, 0.616);
}
#about {
    
    text-align: center;
    font-size: 50px;
}

#who {
    position: absolute;
    margin-left: 2vw;
    margin-top: -30px;
    padding-top: 2vh;
   
    font-size: 40px;
}

#first {
    position: absolute;
    margin-top: 2vh;
    margin-left: 2vw;
    width: 25%;
    font-size: 35px;
}
#skill {
    margin-left: 73.5vw;
    font-size: 40px;
    margin-top: -22px;
}
#Sk{
    margin-left: 69vw;
    word-spacing: 17vw;
    font-size: 35px;
}

#skillone {
    padding-top: 2vh;
    margin-left: 70vw;
}

.sklist {
    padding-top: 3vh;
    padding-bottom: 3vh;
   list-style: url(imagess/gradientify/check_1\ copy.png);
   font-size: 30px;
    
}


#qualities {
    padding-top: 1vh;
    margin-top: -52vh;
   list-style: url(imagess/gradientify/check_1\ copy.png);
    font-size: 15px;
    margin-left: 90vw;
}

#socials
{
    margin-left: 2vw;
    margin-top: 5vh;
    width: 45%;
    font-size: 30px;
    
}

#pro {
   
    background-color: rgba(139, 139, 139, 0.384);
}

#projects {
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    margin: auto;
    margin-top: 15vh;
    font-size: 40px;
}

.pics{
    width: 49%;
    height: 70vh;
}


@media (max-width: 1920px) { 
    section {
        width: auto;
    }
    #aboutme {
        margin: 0;
        margin-bottom: -15vh;
        padding: 0;
        border: 0;
        outline: 0;
        height: 85vh;
        background-color: rgba(145, 144, 143, 0.616);
    }
  
    #first {
       
        margin-top: 2vh;
        margin-left: 2vw;
        width: 35%;
        font-size: 35px;
    }
    #skill {
        margin-left: 50vw;
        font-size: 40px;
        margin-top: -22px;
    }
    #Sk{
        margin-left: 50vw;
        word-spacing: 23vw;
        font-size: 35px;
    }
    
    #skillone {
        padding-top: 2vh;
        margin-left: 52vw;
    }
    
    .sklist {
        padding-top: 3vh;
        padding-bottom: 3vh;
       list-style: url(imagess/gradientify/check_1\ copy.png);
       font-size: 3vh;
        
    }
    
    
    #qualities {
        padding-top: 1vh;
        margin-top: -52vh;
       list-style: url(imagess/gradientify/check_1\ copy.png);
        font-size: 15px;
        margin-left: 80vw;
    }
    #socials
    {
       
        right: 9vw;
        width: 35%;
        font-size: 20px;
        margin-top: 2vh;
        font-size: 4vh;
    }
    #navigate {
        margin-top: 30vh;
    }
    #navi {
    
        height: 3vh;
        
        text-align: center;
        margin: 0;
        padding-bottom: 5vh;
        margin-bottom: 2vh;
    }

    #home {
        position: fixed;
        margin-top: -4vh;
        margin-left: -6vw;
    }
    #bout {
        position: fixed;
        margin-top: -4vh;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    #plan {
        position: fixed;
        margin-top: -4vh;
        margin-right: -6vw;
    }
    .pics {
        width: 49%;
        height: 600px;
     }
     
}




@media (max-width: 1440px) { 
   
  section {
    width: auto;
  }
  #about {
    
    text-align: center;
    font-size: 4vh;
}
    #aboutme {
        margin: 0;
        margin-bottom: -15vh;
        padding: 0;
        border: 0;
        outline: 0;
        height: 80vh;
        background-color: rgba(145, 144, 143, 0.616);
    }
    #who {
        position: absolute;
        
        margin-top: -26px;
        padding-top: 4vh;
        
        font-size: 3vh;
    }
    
    #first {
        padding-top: 1vh;
        position: absolute;
        font-size: 3vh;
        width: 30%;
        
    }
    #skill {
        margin-left: 45vw;
        font-size: 3vh;
        margin-top: -22px;
    }
    #Sk{
        margin-left: 45vw;
        word-spacing: 25vw;
        font-size: 3vh;
    }
    
    #skillone {
        padding-top: 2vh;
        margin-left: 47vw;
    }
    
    .sklist {
        padding-top: 3vh;
        padding-bottom: 3vh;
       list-style: url(imagess/gradientify/check_1\ copy.png);
       font-size: 3vh;
        
    }
    
    
    #qualities {
        padding-top: 1vh;
        margin-top: -52vh;
       list-style: url(imagess/gradientify/check_1\ copy.png);
        font-size: 15px;
        margin-left: 77vw;
    }
    #socials
    {
       
        margin: auto;
        margin-left: 4vh;
        width: 35%;
        font-size: 3vh;
        margin-top: 0vh;
    }
    

    #navi {
    
        height: 3vh;
        
        text-align: center;
        margin: 0;
     
    }

    #home {
        position: fixed;
        margin: 0;
        margin-left: -9vw;
        bottom: 1vh;
    }
    #bout {
        position: fixed;
        margin: 0;
        margin-left: 9vw;
        margin-right: 9vw;
        bottom: 1vh;
    }
    #plan {
        position: fixed;
        margin: 0;
        margin-right: -9vw;
        bottom: 1vh;
    }
    .pics {
        width: 49%;
        height: 300px;
     }

}








@media (max-width: 1024px) { 
    section {
        width: auto;
    }
    h1 {
        padding: 0;
        padding-top: 15vh;
        width: 75%;
        text-align: center;

    }
    #aboutme {
       
        height: 85vh;
      
    }
    #who {
        
        
        margin-top: -26px;
        padding-top: 3vh;
        
        font-size: 4vh;
    }
    
    #first {
        padding-top: 1vh;
        width: 40%;
        font-size: 3vh;
    }
    #skill {
        margin-left: 50vw;
        font-size: 3vh;
        margin-top: -22px;
    }
    #Sk{
        margin-left: 50vw;
        word-spacing: 24vw;
        font-size: 3vh;
    }
    
    #skillone {
        padding-top: 2vh;
        margin-left: 53vw;
    }
    
    .sklist {
        padding-top: 3vh;
        padding-bottom: 3vh;
       list-style: url(imagess/gradientify/check_1\ copy.png);
       font-size: 2vh;
        
    }
    
    
    #qualities {
        padding-top: 1vh;
        margin-top: -52vh;
       list-style: url(imagess/gradientify/check_1\ copy.png);
        font-size: 15px;
        margin-left: 83vw;
    }
    #socials
    {
       
        margin-left: 2vh;
        width: 35%;
        font-size: 20px;
        margin-top: 14vh;
    }

    #navi {
    
        height: 3vh;
        
        text-align: center;
        margin: 0;
     
    }

    #home {
        position: fixed;
        margin: 0;
        margin-left: -12vw;
        bottom: 1vh;
    }
    #bout {
        position: fixed;
        margin: 0;
        margin-left: 12vw;
        margin-right: 12vw;
        bottom: 1vh;
    }
    #plan {
        position: fixed;
        margin: 0;
        margin-right: -12vw;
        bottom: 1vh;
    }
    .pics {
        width: 49%;
       height: 250px;

     }
}








@media (max-width: 320px) { 
    section {
        width: auto;
    }
    
    
    #portfolio{
        margin: auto;
        height: 50vh;
        background-image: url(Bio/images/nightbeachpic.jpg);
        background-size: cover;
        
       
    }
    h1 {
        margin: auto;
        width: 75%;
        padding-top: 15vh;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: whitesmoke;
        font-size: 25px;
    }
    
    #navi {
        
        height: 3vh;
        
        text-align: center;
        margin: 0;
        padding-bottom: 5vh;
        margin-bottom: 6vh;
    }
    #home {
        position: fixed;
        margin: 0;
        margin-left: -38vw;
    }
    #bout {
        position: fixed;
        margin: 0;
        margin-left: 27vw;
      
    }
    #plan {
        position: fixed;
        margin: 0;
        margin-left:-7vw ;
    }
  
    
    
    
    
    #aboutme {
        margin: 0;
        margin-bottom: -15vh;
        padding: 0;
        border: 0;
        outline: 0;
        height: 120vh;
        background-color: rgba(145, 144, 143, 0.616);
    }
    #about {
        
        text-align: center;
        font-size: 25px;
        padding-top: 1vh;
        padding-bottom: 2vh;
    }
    
    #who {
        position: absolute;
        right: 38vw;
        margin-top: -30px;
        padding-top: 2vh;
        font-size: 15px;
    }
    
    #first {
        position: absolute;
        right: 9vw;
        width: 90%;
        font-size: 18px;
    }
    #skill {
        margin-left: 2vw;
        font-size: 2vh;
        margin-top: 55vh;
        padding-bottom: 2vh;
    }
    #Sk{
        margin-left: 2vw;
        word-spacing: 50vw;
        font-size: 2vh;
    }
    
    #skillone {
        padding-top: 2vh;
        margin-left: 9vw;
    }
    
    .sklist {
        padding-top: 3vh;
        padding-bottom: 3vh;
       list-style: url(imagess/gradientify/check_1\ copy.png);
       font-size: 1vh;
       
    }
    
    
    #qualities {
        padding-top: 1vh;
        margin-top: -44vh;
       list-style: url(imagess/gradientify/check_1\ copy.png);
        font-size: 15px;
        margin-left: 80vw;
    }
    #socials
    {
        position: absolute;
        right: 9vw;
        width: 90%;
        font-size: 20px;
        margin-top: -67.5vh;
    }
    
    #pro {
       
        background-color: rgba(139, 139, 139, 0.384);
    }
     .pics {
        width: 100%;
        height: 85%;
     }
    
    
}


